<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danilov.ivan.yotatestwidget">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Dialog">

        <activity
            android:name=".view.DialogActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <service android:name=".widget.UpdateWidgetService" />
        <receiver
            android:name=".widget.YotaWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.danilov.ivan.yotatestwidget.widget.SUBSCRIBE" />
                <action android:name="com.danilov.ivan.yotatestwidget.widget.ACTION_NEXT" />
                <action android:name="com.danilov.ivan.yotatestwidget.widget.ACTION_BACK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>
